<!DOCTYPE html>
<html>
    <head>
        <title>Todo List with Spring and Vue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
        <script src="/js/app.js" defer></script>
    </head>
    <body>
        <div id="app">
            <form @submit="addTask">
                <input type="text" v-model="newTask">
                <input type="submit" value="Add">
            </form>
            
            <ul v-for="task in tasks">
                <li>
                    <input type="checkbox" name="finished" v-model="task.finished" @change="updateTask($event, task)">
                    <span style="text-decoration: line-through" v-if="task.finished">
                        {{ task.body }}
                    </span>
                    <span v-else>
                        {{ task.body }}
                    </span>
                </li>
            </ul>
        </div>
    </body>
</html>
